github "alex-chan/YamlSwift" "master"
github "alex-chan/tun2socks" "master"
github "alex-chan/SwiftyBeaver" "master"
github "alex-chan/NEKit" "master"
github "SnapKit/SnapKit" ~> 3.2.0
github "marmelroy/Localize-Swift"

github "Alamofire/Alamofire" ~> 4.4

github "scalessec/Toast-Swift" ~> 2.0.0

github "SwiftyJSON/SwiftyJSON"


github "krzyzanowskim/CryptoSwift"
