<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoVPN-mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AutoVPN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PacketTunnel-mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PacketTunnel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB80412E1E530CE100C451F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB8041441E530CE200C451F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB80414F1E530CE200C451F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB9E14E21E54068200531821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBC0E0471E5461C800323323</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBC0E07A1E54BDAA00323323</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
